In [3]:
def f3_sum(num1,num2):
    print(f"The sum of {num1} and {num2} is {num1 + num2}")

In [4]:
f3_sum(2,4)

The sum of 2 and 4 is 6

In [5]:
def f4_average(num1,num2):
    return(f"The average is{(num1+num2)/2}")

In [6]:
f4_average(5,10)

'The average is7.5'

In [7]:
    def f5_minmax(num1,num2):
        if(num1 > num2):
            return{"min":num2, "max":num1}
        else:
            return{"min":num1, "max":num2}

In [10]:
print(f5_minmax(20,10))

{'min': 10, 'max': 20}

In [11]:
    def f8_combine_hundreds(hun=3,ten=2,one=1):
        return(f"{hun}{ten}{one}")

In [13]:
f8_combine_hundreds(4,8,9)

'489'

In [38]:
    def f9_place():
        def city():
            print("Austin", end=", ")
        def state():
            print("TX")
        
        city()
        state()

In [39]:
f9_place()

Austin, TX

In [69]:
def f10_face():
    def eye():
        print("(o)", end="")
    def nose():
        print("<=>")
    def mouth():
        print("\\\\-----//")
    eye()
    print("       ", end="")
    eye()
    print("\n\n     ", end="")
    nose()
    print("\n  ", end="")
    mouth()

In [70]:
f10_face()

(o)       (o)

     <=>

  \\-----//

In [122]:
def display_total_due(bill_with_tax, tip_rate, tax_rate):
    bill_without_tax = bill_with_tax / (1 + tax_rate)
    tip = bill_without_tax * tip_rate
    total_due = bill_with_tax + tip
    print("Total due with {0:.0%} tip: ${1: .2f}".format(tip_rate,total_due))

In [119]:
TAX_RATE = 0.0825

In [120]:
display_total_due(10.82,0.15,TAX_RATE)

Total due with 15% tip: $ 12.32

In [127]:
def tip_table():
    TAX_RATE = .0825
    bill_with_tax = float(input("Enter your total bill with tax: $"))
    display_total_due(bill_with_tax, 0.10, TAX_RATE)
    display_total_due(bill_with_tax, 0.15, TAX_RATE)
    display_total_due(bill_with_tax, 0.20, TAX_RATE)
    display_total_due(bill_with_tax, 0.25, TAX_RATE)

In [128]:
tip_table()

Enter your total bill with tax: $10.82
Total due with 10% tip: $ 11.82
Total due with 15% tip: $ 12.32
Total due with 20% tip: $ 12.82
Total due with 25% tip: $ 13.32

In [1]:
def is_a_number(num):  
    """This is a simple boolean function to check if a variable is a number."""

    try:
        float(num)
        isNumber = True
    except:
        isNumber = False

    return isNumber

In [2]:
help(is_a_number)

Help on function is_a_number in module __main__:

is_a_number(num)
    This is a simple boolean function to check if a variable is a number.

In [50]:
def sort(sort_list): # Part 4. No startup code provided. See instructions.

    def greater_than(num1, num2):
        if(num1 > num2):
            return True
        else:
            return False

    def swap(num1, num2):
        return(num2, num1)
    
    while True:
        
        isSorted=True
        
        for i in range(len(sort_list)-1):
            if(greater_than(sort_list[i],sort_list[i+1])):
                sort_list[i],sort_list[i+1] = swap(sort_list[i], sort_list[i+1])
                isSorted=False
            
        if isSorted:
            break
    
    
    return sort_list

In [38]:
def greater_than(num1, num2):
        if(num1 > num2):
            return True
        else:
            return False

In [41]:
def swap(num1, num2):
        return(num2, num1)

In [55]:
mylist=[8,9,1,23,25,111,3,7,19,24,9,7]

In [56]:
sort(mylist)

[1, 3, 7, 7, 8, 9, 9, 19, 23, 24, 25, 111]

In [57]:
emptylist=[]

In [58]:
sort(emptylist)

[]

In [62]:
import random

In [63]:
random.randint(1,5)

4

In [1]:
for i in range(3):
    print(i)

0
1
2

In [2]:
state_data = ["Texas", "TX", "25252525"]

In [3]:
state_data[2] = int(state_data[2])

In [4]:
state_data

['Texas', 'TX', 25252525]

In [5]:
format(state_data[2], ",")

'25,252,525'

In [4]:
file_name = 'some_file.txt'

In [5]:
file_name.endswith('.txt')

True

In [24]:
names = ["Paul", "Judy", "Ralph", "Steven", "Antoinette"]

In [26]:
names.index("John")

ValueError: 'John' is not in list

In [19]:
sorted_list = names.sort()

In [20]:
names

['Antoinette', 'Judy', 'Paul', 'Ralph', 'Steven']

In [21]:
names.insert(2, "John")

In [22]:
names

['Antoinette', 'Judy', 'John', 'Paul', 'Ralph', 'Steven']

In [7]:
float('steve')

ValueError: could not convert string to float: 'steve'

In [8]:
some_stuff = [1, 'bees', True, False, None, 12.44]

In [10]:
some_stuff.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [28]:
word = "summer"

In [29]:
word += 'time'

In [30]:
word

'summertime'

In [31]:
word[-2] = 'n'

TypeError: 'str' object does not support item assignment

In [3]:
stuff = 'what the hell'

In [4]:
stuff_list = stuff.split()

In [5]:
stuff_list

['what', 'the', 'hell']

In [14]:
def plural():
    print(plural)
    plural = 'mice'

In [15]:
plural()

UnboundLocalError: local variable 'plural' referenced before assignment

In [1]:
ord('a')

97

In [4]:
chr(ord('a') + 25)

'z'

In [6]:
range(ord('a'),ord('a')+25)

range(97, 122)

In [12]:
set(range(ord('a'),ord('a')+26))

{97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122}

In [17]:
alpha = set()
for ch in range(ord('a'),ord('a')+26):
    alpha.add(chr(ch))

In [18]:
alpha

{'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z'}

In [11]:
digits = set(range(0,10))

In [12]:
digits

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [5]:
string = 'Four bananas\n '

In [6]:
string.strip()

'Four bananas'

In [7]:
string

'Four bananas\n '

In [8]:
print(string)

Four bananas

In [9]:
print(string.strip())

Four bananas

In [13]:
even = set()
for num in digits:
    if num%2==0:
        even.add(num)

In [14]:
even

{0, 2, 4, 6, 8}

In [23]:
punct = set('''~`!@#$%^&*()_-+={[}]|\\:;'"<,>.?/''')

In [24]:
punct

{'!',
 '"',
 '#',
 '$',
 '%',
 '&',
 "'",
 '(',
 ')',
 '*',
 '+',
 ',',
 '-',
 '.',
 '/',
 ':',
 ';',
 '<',
 '=',
 '>',
 '?',
 '@',
 '[',
 '\\',
 ']',
 '^',
 '_',
 '`',
 '{',
 '|',
 '}',
 '~'}

In [26]:
'\\' in punct

True

In [27]:
match = set('{}[]()<>')

In [28]:
'{' in match

True

In [29]:
'}' in match

True

In [30]:
show = lambda thing: print(thing)

In [31]:
show(match)

{'(', '}', ')', '[', '<', '{', ']', '>'}

In [17]:
word = '*!something,+='

In [8]:
word[0].isalpha()

True

In [10]:
list(word)

['s', 'o', 'm', 'e', 't', 'h', 'i', 'n', 'g', ',']

In [11]:
def checkalpha(word):
        while True:
            if not word[0].isalpha():
                word = word.lstrip(word[0])
                            
            elif not word[-1].isalpha():
                word = word.rstrip(word[-1])
            else:
                break
        return word

In [18]:
print(checkalpha(word))

something